body {
  background-color: white;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.card {
  max-width: 400px;
  width: 100%;
  padding: 0.75rem;
}

#journey-content .tool {
  margin-bottom: 1rem;
}

.journey-event, 
.weather-event {
  margin-top: 1rem;
} 

#log-content .journey-event {
  margin-top: 0px;
  border-bottom: 1px solid #CCC;
  padding: 1rem 0px;
}

#log-content .journey-event:last-child {
  border-bottom: none;
}

#log-content {
  max-height: 20rem;
  overflow-y: auto;
  scrollbar-color: #AAA white;
  scrollbar-width: thick;
}

.condition {
  text-transform: capitalize;
}